.header-element {
  height: 920px;
  background-color: #e70faa;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  color: #79eb21;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
