.new-tweet {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#tweet-error-message {
  display: none;
  color: red;
  margin-top: 10px;
  text-align: center;
  border: 3px solid red;
  border-radius: 10px;
}

.new-tweet h2,
.new-tweet label,
.new-tweet content {
  display: flex;
  justify-content: flex-start;
}

.new-tweet textarea {
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
}

.new-tweet button {
  background-color: rgb(40, 40, 142);
  color: #79eb21;
  border-style: groove;
  border-color: #e70faa;
  font-family: "Bungee";
}

.exceed-limit {
  color: red;
}

.tweet-container {
  border: 5px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  border-style: groove;
  border-color: #e70faa;
  border-width: 3px;
}

.tweet-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

article {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.tweet-container header {
  font-family: "Source Sans 3", sans-serif;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-container header .avatar-username {
  display: flex;
  align-items: center;
}

.tweet-container header .avatar-username .avatar {
  margin-right: 10px;
}

.tweet-container header .avatar-username .name {
  margin: 0;
}

.tweet-container header .handle {
  display: flex;
  justify-content: flex-end;
}

.tweet-container .content {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  background: inherit;
  word-wrap: break-word;
}

.tweet-container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
}

.tweet-container footer .timestamp {
  display: flex;
  align-content: flex-start;
  font-size: 16px;
}

.tweet-container footer .icons {
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  font-size: 16px;
}
.tweet-container footer .icons i {
  padding-right: 10px;
}

.tweet-container footer .icons i:hover {
  color: green;
  cursor: pointer;
}
