.new-tweet {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.new-tweet h2,
.new-tweet label,
.new-tweet textarea {
  display: flex;
  justify-content: flex-start;
}

.new-tweet textarea {
  background-color: inherit;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 20px;
}

.new-tweet button {
  background-color: rgb(40, 40, 142);
  color: #79eb21;
  border-style: groove;
  border-color: #e70faa;
  font-family: "Bungee";
}

.exceed-limit {
  color: red;
}

.tweet-container {
  border: 2px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  border-style: groove;
  border-color: #e70faa;
  border-width: 3px;
}

.tweet-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

article {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.tweet-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;
  color: grey;
}

.tweet-container header h3 {
  display: flex;
  justify-content: flex-start;
}

.tweet-container header h4 {
  display: flex;
  justify-content: flex-end;
}

.tweet-container textarea {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  background: inherit;
}

.tweet-container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
}

.tweet-container footer p {
  display: flex;
  align-content: flex-start;
  font-size: 16px;
}

.tweet-container footer icon-container {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  font-size: 16px;
}

.tweet-container footer .icon-container i:hover {
  color: green;
  cursor: pointer;
}
