/* desktop */
@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav {
    width: 100%;
    z-index: 100;
  }

  .header-element {
    /* margin-top: 120px; */
    /* left: 50px; */
    height: 450px;
    width: 650px;
    margin: 30px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 170px;
    margin-right: 20px;
    padding: 20px;
  }
}

/* tablets and phones */
@media (max-width: 1023px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    background-color: #e70faa;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    padding: 10px 10px;
  }

  .header-element {
    text-align: center;
    margin-top: 120px;
    width: 100%;
  }

  .header-element div:first-child {
    margin-bottom: 10px;
  }

  .container {
    margin-top: 20px;
  }

  .container > * {
    max-width: 90%;
  }
}
